@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #121725;
  font-family: 'Chivo', sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #c2cbe5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
}

body img.mobile-bg {
  position: absolute;
  z-index: -1;
  opacity: 0.1;
  width: 100%;
}

body img.tablet-bg {
  display: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .pod-logo {
  margin-top: 62px;
  margin-bottom: 57px;
  width: 135px;
  height: 56;
}

main .container .form {
  width: 327px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 24px 0 24px;
}

main .container .form h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 26px;
  line-height: 38px;
  font-weight: lighter;
  margin-bottom: 16px;
}

main .container .form h1 span {
  color: #54e6af;
}

main .container .form p {
  max-width: 450px;
  text-align: center;
}

main .container .form .logo-line-mobile {
  margin-top: 33px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 48px;
  width: 100%;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .container .form .logo-line-mobile img.logo {
  height: 17px;
}

main .container .form .logo-line {
  display: none;
}

main .container .form .input-line {
  width: 100%;
}

main .container .form .input-line input {
  display: block;
  width: 100%;
  background-color: #2c344b;
  height: 46px;
  border-radius: 30px;
  border: none;
  padding-left: 32px;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
}

main .container .form .input-line input:focus {
  outline: None;
}

main .container .form .input-line input::-webkit-input-placeholder {
  color: #c2cbe5;
  opacity: 0.6;
}

main .container .form .input-line input:-ms-input-placeholder {
  color: #c2cbe5;
  opacity: 0.6;
}

main .container .form .input-line input::-ms-input-placeholder {
  color: #c2cbe5;
  opacity: 0.6;
}

main .container .form .input-line input::placeholder {
  color: #c2cbe5;
  opacity: 0.6;
}

main .container .form .input-line button {
  margin-top: 16px;
  width: 100%;
  display: block;
  height: 46px;
  outline: none;
  background-color: #54e6af;
  border: none;
  border-radius: 30px;
  height: 46px;
  font-weight: bold;
  font-size: 14px;
  color: #121725;
  cursor: pointer;
}

main .container .form .input-line button:hover {
  background-color: #adf3d9;
}

main .container .form .error {
  visibility: hidden;
  height: 35px;
  margin-top: 5px;
}

main .container .form .error.visible {
  color: #fb3e3e;
  visibility: visible;
  margin-left: 15px;
  font-size: 14px;
  font-weight: bold;
}

main img.pattern {
  display: none;
}

@media screen and (min-width: 768px) {
  body img.mobile-bg {
    display: none;
  }
  body img.tablet-bg {
    display: unset;
    position: absolute;
    z-index: -1;
    right: 0;
    width: 491px;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    height: 100vh;
  }
  main .pod-logo {
    position: absolute;
    margin-top: 50px;
    margin-left: 39px;
    width: 135px;
    height: 56;
  }
  main .container {
    width: 635px;
    height: 510px;
    background-color: #121725;
    margin-left: 39px;
    margin-top: 258px;
  }
  main .container .form {
    width: 100%;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  main .container .form h1 {
    width: 100%;
    margin-left: 0;
    margin-top: 93px;
    text-align: left;
    font-size: 48px;
    line-height: 56px;
    font-weight: lighter;
    margin-bottom: 16px;
  }
  main .container .form h1 span {
    color: #54e6af;
  }
  main .container .form p {
    text-align: left;
    max-width: 445px;
    line-height: 26px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 31px;
  }
  main .container .form .logo-line-mobile {
    display: none;
  }
  main .container .form .logo-line-mobile img.logo {
    height: 17px;
  }
  main .container .form .input-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 40px;
  }
  main .container .form .input-line input {
    display: unset;
    width: 427px;
    height: 56px;
    font-size: 14px;
  }
  main .container .form .input-line input:focus {
    outline: None;
  }
  main .container .form .input-line button {
    margin: 0;
    width: 162px;
    margin-left: -167px;
    display: unset;
    margin-top: 5px;
    height: 47px;
  }
  main .container .form .logo-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 535px;
    height: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }
  main .container .form .logo-line img.logo-spotify {
    height: 28px;
  }
  main .container .form .logo-line img.logo-apple {
    height: 29px;
  }
  main .container .form .logo-line img.logo-google {
    height: 18px;
  }
  main .container .form .logo-line img.logo-pocket {
    height: 26px;
  }
  main img.pattern {
    position: absolute;
    bottom: 5px;
    left: 30px;
    display: unset;
  }
}

@media screen and (min-width: 1224px) {
  body {
    background-color: green;
    width: 100%;
    height: 100vh;
  }
}
