@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap");
body {
  background-color: #121725;
  font-family: 'Chivo', sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #c2cbe5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .pod-logo {
  margin-top: 62px;
  margin-bottom: 57px;
  width: 135px;
  height: 56;
}

main .container .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 24px 0 24px;
}

main .container .form h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 26px;
  line-height: 38px;
  font-weight: lighter;
}

main .container .form h1 span {
  color: #54e6af;
}

main .container .form p {
  margin: 0 24px 0 24px;
  text-align: center;
}

main .container .form .logo-line-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

main .container .form .logo-line {
  display: none;
}

main .background-image img.bg-desktop {
  display: none;
}

main .background-image img.bg-tablet {
  display: none;
}

/*
  border: 1px solid yellow;
  padding-left: 122px;
  margin-top: 130px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  .pod-logo {
    position: absolute;
    top: -25px;

    img {
      width: 135px;
      height: 56px;
    }
  }

  .container {
    border: 1px solid red;
    background-color: $color3;
    z-index: 5;
    width: 80%;
    max-width: 723px;
    margin-top: 130px;

    .form {
      margin-top: 88px;
      width: 723px;
      h1 {
        font-size: 52px;
        font-weight: 400;
        line-height: 68px;
        text-transform: uppercase;
      }

      span {
        color: $color1;
      }

      p {
        margin-top: 24px;
        color: $color6;
        width: 445px;
        font-size: 18px;
        line-height: 28px;
      }

      .input-line {
        input {
          background-color: $color2;
          height: 56px;
          width: 427px;
          border-radius: 30px;
          border: none;
          margin-top: 40px;
          padding-left: 15px;
          font-weight: bold;
          font-size: 14px;
          color: $color4;

          &:focus {
            outline: None;
          }
        }

        input::placeholder {
          color: $color6;
          opacity: 1;
        }

        button {
          height: 56px;
          outline: none;
          background-color: $color1;
          padding-left: 15px;
          padding-right: 15px;
          border: none;
          border-radius: 20px;
          margin-left: -173px;
          height: 46px;
          width: 162px;
          font-weight: bold;
          font-size: 14px;
          color: $color3;
          cursor: pointer;
          &:hover {
            background-color: lighten($color1, 20);
          }
        }
      }
    }
    .error {
      display: none;
    }
    .error.visible {
      display: block;
      margin-left: 15px;
      margin-top: 10px;
      color: #fb3e3e;
      font-size: 14px;
      font-weight: bold;
    }
    .logo-line {
      margin-top: 64px;
      height: 29px;

      img {
        height: 29px;
        margin-right: 33px;
      }
    }

    img.pattern {
      position: absolute;
      right: 50px;
      bottom: -45px;
      right: 120px;
    }
  }
}

.background-image {
  position: relative;
  left: -122px;
  width: 50%;

  img.bg-desktop {
    display: inline;
    max-width: 888px;
  }
}

*/
@media screen and (min-width: 768px) {
  body {
    background-color: red;
    width: 100%;
    height: 100vh;
  }
}

@media screen and (min-width: 1224px) {
  body {
    background-color: green;
    width: 100%;
    height: 100vh;
  }
}
