$color1: #54e6af;
$color2: #2c344b;
$color3: #121725;
$color4: #ffffff;
$color5: #5a668a;
$color6: #c2cbe5;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color3;
}
